<div class="user-account-nav user-account-sidebar">
    <div class="user-nav-list">
        <ul>
            <li class="{% if '/vendorDashboard/' in request.path or '/vendors/' in request.path %}active{% endif %}"><a href="{% url 'vendorDashboard' %}"><i class="icon-dashboard3"></i>Dashboard</a></li>
            <li class="{% if 'profile' in request.path %}active{% endif %}"><a href="{% url 'vendorProfile' %}"><i class="icon-building"></i>My Restaurant</a></li>
            <li class="{% if 'menuBuilder' in request.path %}active{% endif %}"><a href="{% url 'menuBuilder' %}"><i class="icon-menu5"></i>Menu Builder</a></li>
            <li class="{% if 'openingHour' in request.path %}active{% endif %}"><a href="{% url 'openingHour' %}"><i class="icon-menu5"></i>Opening Hours</a></li>
            <li class="{% if '/myOrders/' in request.path %}active{% endif %}"><a href="{% url 'vendorMyOrders' %}"><i class="icon-add_shopping_cart"></i>Orders</a></li>
            <li><a class="logout-btn" href="{% url 'logout' %}"><i class="icon-log-out"></i>Signout</a></li>
        </ul>
    </div>
</div>