@keyframes show-toast {
    0% { top: -100%; opacity: 0; }
    20% { top: 15px; opacity: 1; }
    80% { top: 15px; opacity: 1; }
    100% { top: -400%; opacity: 0; }
}

.show-notification {
    position: fixed;
    top:  -400%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 7s; /* Increased to 7s to account for the 2s pause */
    animation-timing-function: ease-in-out;
    z-index: 1000;
}
.main-section {
    position: relative; /* This is important for absolute positioning of child elements */
}

#alert-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
   
}

.btn{
    padding:2px 1.75em;
    font-size: 12px;
    cursor: pointer;
}

table > tbody > tr > td{
    border: none !important;
}


#opening_hour select{
    padding: 5px 10px !important
}

.btn-success.add_hour{
    padding:7px 15px 7px 15px;
}

/* hide radio button */
.payment-method [type=radio]{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* Image style */
.payment-method [type=radio] + img{
    cursor: pointer;
    padding: 5px;
}

/* Checked style */
.payment-method [type=radio]:checked + img{
    outline: 2px solid #ff0000;
}

@media only screen and (max-width: 480px) {
    a.get-start-btn{
        display: block;
        margin-top: 15px !important;
        margin-left: 0 !important;
    }
    .main-search-bar{
        padding-top: 100px !important;
        padding-bottom: 50px !important;
        background-position: left !important;
    }
    .user-dashboard{
        width: 100% !important;
    }
    .menu-itam-holder .quantity{
        right: 0 !important;
        margin-top: -30px !important;
    }
    .table.opening_hours{
        width: 100% !important;
    }
    .table td{
        padding: 0.5rem !important;
    }


}

table td, table th{
    line-height: 1rem !important;
}